<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a routerLink="/" class="brand-link">
    <img
      src="assets/dist/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">RatchaPOS</span>
  </a>

  <div class="sidebar">
    @if(name!=undefined){
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/dist/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <div class="d-block text-white">{{ name }}</div>
      </div>
    </div>

    <div class="d-grid">
      <button class="btn btn-danger" (click)="signOut()">signout</button>
    </div>
    }

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        @if (level=='ADMIN') {
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link">
            <i class="fa fa-chart-simple me-2"></i>
            <p>DashBoard</p>
          </a>
        </li>
        } @if (level=='EMPLOYEE' || level=='ADMIN') {
        <li class="nav-item">
          <a routerLink="/sale" class="nav-link">
            <i class="fa fa-bowl-food me-2"></i>
            <p>เมนู</p>
          </a>
        </li>
        } @if (level=='ADMIN') {
        <li class="nav-header">ABOUT FOOD</li>
        <li class="nav-item">
          <a routerLink="/foodtype" class="nav-link">
            <i class="fa fa-table me-2"></i>
            <p>ประเภทอาหาร</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/foodsize" class="nav-link">
            <i class="fa fa-file me-2"></i>
            <p>ขนาด</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/taste" class="nav-link">
            <i class="fa fa-fire me-2"></i>
            <p>รสชาติ</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/food" class="nav-link">
            <i class="fa fa-bowl-rice me-2"></i>
            <p>อาหาร/เครื่องดื่ม</p>
          </a>
        </li>
        <li class="nav-header">ABOUT USER</li>
        <li class="nav-item">
          <a routerLink="/user" class="nav-link">
            <i class="fa fa-user me-2"></i>
            <p>ผู้ใช้งานระบบ</p>
          </a>
        </li>
        <li class="nav-header">ABOUT SHOP/BILLSALE</li>
        <li class="nav-item">
          <a routerLink="/organization" class="nav-link">
            <i class="fa fa-shop me-2"></i>
            <p>ข้อมูลร้าน</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/bill-sale" class="nav-link">
            <i class="fa fa-money-bill me-2"></i>
            <p>รายการบิลขาย</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/reportSale" class="nav-link">
            <i class="fa fa-money-check me-2"></i>
            <p>สรุปยอดขาย</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/reportSalePerMonth" class="nav-link">
            <i class="fa fa-money-bill-wave me-2"></i>
            <p>สรุปยอดรายเดือน</p>
          </a>
        </li>
        }
        <br />
      </ul>
    </nav>
  </div>
</aside>
