<div class="card mt-3">
  <div class="card-header bg-dark">รายงานบิลขาย</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <div class="input-group">
          <span class="input-group-text">จากวันที่</span>
          <input type="date" class="form-control" [(ngModel)]="startDate" />
        </div>
      </div>
      <div class="col-md-5">
        <div class="input-group">
          <span class="input-group-text">ถึงวันที่</span>
          <input type="date" class="form-control" [(ngModel)]="endDate" />
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" (click)="fetchData()">
          <i class="fa fa-search me-2"></i>แสดงรายการ
        </button>
      </div>
    </div>
    <table class="table table-bordered table-striped mt-3">
      <thead>
        <tr>
          <th class="text-center">วันที่</th>
          <th class="text-end">รหัสบิล</th>
          <th class="text-end">พนักงานขาย</th>
          <th class="text-center">โต๊ะ</th>
          <th class="text-center">การจ่าย</th>
          <th class="text-end">ราคาทั้งหมด</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (billSale of billSales; track $index) {
        <tr>
          <td class="align-content-center text-center">
            {{ dayjs(billSale.createdDate).format("DD/MM/YYYY") }}
          </td>
          <td class="align-content-center text-end">{{ billSale.id }}</td>
          <td class="align-content-center text-end">{{ billSale.User.name }}</td>
          <td class="align-content-center text-center">{{ billSale.tableNo }}</td>
          <td class="align-content-center text-center">{{ billSale.payType }}</td>
          <td class="align-content-center text-end">{{ billSale.amount }}</td>
          <td class="align-content-center text-center">
            <button
              class="btn btn-secondary mr-2"
              (click)="selectInvoice(billSale)"
            >
              <i class="fa fa-receipt"></i>
            </button>
            <button class="btn btn-danger" (click)="remove(billSale.id)">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<app-modal modalId="modalBill" title="ใบแจ้งรายการ/ใบเสร็จ">
  <iframe
    id="pdf-frame"
    height="500px"
    style="width: 100%"
    frameBorder="0"
  ></iframe>
</app-modal>

<button
  style="display: none"
  id="btnPrintBill"
  data-bs-toggle="modal"
  data-bs-target="#modalBill"
></button>
