<div class="modal" tabindex="-1" [id]="modalId">
  <div class="modal-dialog {{modalSize}}">
    <div class="modal-content">
      <div class="modal-header">
        <div>{{ title }}</div>
        <div><button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="{{ modalId }}_btnClose"
        ></button></div>
        
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
        
